<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card-login">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1 class="h3 mb-3 font-weigth-normal">Logueate</h1>
                        </div>
                        <div class="card-body text-center">
                            <form formReister="ngForm" (ngSubmit)="onLogin()">
                                <div class="form-group">
                                    <input type="text" [(ngModel)]="user.nombre" name="nombre" id="nombre" class="form-control" placeholder="email" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="password" required>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="">
                                <a class="" routerLink="/auth/register">Eres nuevo?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>